{{   void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ state.locale }}">
<head class="no-js">
    {% block head %}
            <meta charSet="utf-8" />
            <meta httpEquiv="x-ua-compatible" content="ie=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1">

        {#{% if is_switchable_domain(app.request.host) %}#}
                {#<link rel="canonical" href="{{ link_canonical is defined ? link_canonical : canonicalize_url(app.request.uri, state.locale) }}" />#}
        {#{% endif %}#}

            <title>{% block title %}FURNIPRICE{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    {% endblock %}
</head>
<body>
{{   void(this.beginBody()) }}
{% block body %}{% endblock %}
{%- block javascripts %}
    {% if sentry_dsn_public %}
            <script src="{{- sentry_js_url -}}" crossorigin="anonymous"></script>
            {#<script>#}
                {#Raven.config("{{- sentry_dsn_public -}}", {#}
                    {#environment: "{{- app.environment -}}"#}
                {#}).install();#}
            {#</script>#}
    {% endif %}
{% endblock %}
{{   void(this.endBody()) }}
</body>
</html>
{{   void(this.endPage()) }}