{{   void(this.beginPage()) }}
<!DOCTYPE html>

<head>

</head>
<body>
{{   void(this.beginBody()) }}
<section id="header">
    {% include "header.twig" %}
</section>
{{ content | raw}}
<footer class="footer">
    <div class="container">
        {% include "footer.twig" %}
    </div>
</footer>
{{   void(this.endBody()) }}
</body>
</html>
{{   void(this.endPage()) }}