{#{% trans_default_domain 'www' %}#}

{#
    @param  string  activeSort     -  current active sorting parameter
    @param  array   sortingParams  -  available sorting parameters
    @param  string  pageURL        -  page url for links' path
#}

<div class="sorting">
    <span class="sorting__header">Сортировать по</span>
    <span class="sorting__params" data-sort-container="">
        {#{% for param in sortingParams %}#}
            <span class="sorting__item">
                {% include '@frontend/views/catalog/includes/sort_trigger.html.twig' with { 'parameter': param, 'activeSort': activeSort } %}
            </span>
        {#{% endfor %}#}
    </span>
</div>
