{#{% trans_default_domain 'www' %}#}

{#{% set segmentsAreActive = 'segments' in activeFilters|keys %}#}
{#{% set isActive = 'price' in activeFilters|keys %}#}
{#{% set from = isActive ? activeFilters['price']|split('..')[0] : null %}#}
{#{% set to = isActive ? activeFilters['price']|split('..')[1]|slice(0, -4) : null %}#}

<div class="filter">
    <div class="filter__header js-collapse-item open">
        <span class="filter__name">{{ filter.name }}</span>
        {#<span class="filter__icon">{{ svg_icon('arrow_right') }}</span>#}
    </div>

    <div>
        <div class="filter__parameters" data-filter-id="{{ filter.sysname }}">
            <input type="hidden" name="currency" value="{{ filter.currency }}" data-currency="{{ filter.currency }}">

            <div class="filter__parameter-range range js-range js-catalog-filter-range">
                <div class="range__inner">
                    <label class="range__param _min js-catalog-price-range {{ segmentsAreActive ? 'is-disabled' }}">
                        {#<span class="range__label">{{ 'common.range.from'|trans }}</span>#}
                        <span class="range__input-wrap">
                        <input
                                class="range__input js-catalog-filter-range-input js-range-field js-inputmask"
                                type="text"
                                name="price"
                                {{ from ? "value=#{from}" }}
                                placeholder = "{{ filter.values.min }}"
                                data-type="range"
                                data-range="min"
                                data-min="{{ filter.values.min }}"
                                data-inputmask="'alias': 'integer', 'groupSeparator': ' ', 'autoGroup': true, 'allowMinus': false, 'max': 999999999999999, 'showMaskOnFocus': true"
                                onblur="priceOnBlur(this)"
                        />
                    </span>
                    </label>

                    <label class="range__param _max js-catalog-price-range {{ segmentsAreActive ? 'is-disabled' }}">
                        {#<span class="range__label">{{ 'common.range.to'|trans }}</span>#}
                        <span class="range__input-wrap">
                        <input
                                class="range__input js-catalog-filter-range-input js-range-field js-inputmask"
                                type="text"
                                name="price"
                                {{ to ? "value=#{to}" }}
                                placeholder = "{{ filter.values.max }}"
                                data-type="range"
                                data-range="max"
                                data-max="{{ filter.values.max }}"
                                data-inputmask="'alias': 'integer', 'groupSeparator': ' ', 'autoGroup': true, 'allowMinus': false, 'max': 999999999999999, 'showMaskOnFocus': true"
                                onblur="priceOnBlur(this)"
                        />
                    </span>
                    </label>
                </div>

                {# DON NOT DELETE THIS #}
                {# in case slider shall be returned #}

                {#<div class="range__slider">#}
                    {#<input#}
                            {#type="text"#}
                            {#id="price"#}
                            {#name="price"#}
                            {#class="range__slider-input js-range js-catalog-filter-range-control"#}
                            {#data-filter="range"#}
                            {#data-skip="true"#}
                            {#data-type="double"#}
                            {#data-min="{{ filter.min }}"#}
                            {#data-max="{{ filter.max }}"#}
                            {#data-bound-min=".js-catalog-filter-range-input[name=price][data-range=min]"#}
                            {#data-bound-max=".js-catalog-filter-range-input[name=price][data-range=max]"#}
                            {#data-input-values-separator=".."#}
                            {#{{ from ? "data-from=#{from}" }}#}
                            {#{{ to ? "data-to=#{to}" }}#}
                    {#/>#}
                {#</div>#}
            </div>
        </div>

        {#<ul class="filter__parameters" data-filter-id="segment">#}
            {#{% for value in filter.segments %}#}
                {#{% set segment = value.enum %}#}
                {#{% set checked = segmentsAreActive and segment.id in activeFilters['segments']|split(',') %}#}
                {#{% set disabled = not checked and value.count == 0 %}#}

                {#<li class="filter__param-checkbox js-catalog-filter-property" data-filter-value-id="{{ segment.id }}">#}
                    {#<label class="checkbox">#}
                        {#<input#}
                                {#class="js-catalog-price-segment"#}
                                {#type="checkbox"#}
                                {#name="segments"#}
                                {#value="{{ segment.id }}"#}
                                {#data-type="set"#}
                                {#{{ checked ? 'checked' }}#}
                                {#{{ disabled ? 'data-disabled=true' }}#}
                        {#/>#}
                        {#<span class="checkbox__label">#}
                            {#<span>{{ ('entity.product.price_segment.value.'~segment.name)|trans }} </span>#}
                            {#<span class="highlight _grey">({{ 'common.range.from'|trans|lower }}#}
                                {#{{ value.min|number_format(0, '', '&nbsp;')|raw }}#}
                                {#{{ 'common.range.to'|trans|lower }}#}
                                {#{{ value.max|number_format(0, '', '&nbsp;')|raw }}&nbsp;{{ state.currency.code|localizedCurrencySymbol }})#}
                            {#</span>#}
                        {#</span>#}
                    {#</label>#}
                {#</li>#}
            {#{% endfor %}#}
        {#</ul>#}
    </div>
</div>
