{% extends "@frontend/views/layouts/layout.html.twig" %}
{#{% trans_default_domain 'www' %}#}

{#{% set breadcrumbs = [{#}
    {#name: 'routes.catalog.title'|trans,#}
{#}] %}#}
{# Temporary disabled link for catalog index page #}
{# link: (activeCategories|length + (currentCategory is not empty ? 1 : 0)) > 0 ? path('catalog') : null #}

{% if zone is not null %}
    {% if zoneParents is not empty %}
        {% for parent in zoneParents %}
            {% set breadcrumbs = breadcrumbs|merge([{
                name: parent.translation.name
            }]) %}
        {% endfor %}
    {% endif %}

    {% set breadcrumbs = breadcrumbs|merge([{
        name: zone.translation.name
    }]) %}
{% endif %}

{% for category in activeCategories %}
    {% set breadcrumbs = breadcrumbs|merge([{
        name: category.translation.name,
    }]) %}
{% endfor %}

{% if currentCategory is not empty %}
    {% set breadcrumbs = breadcrumbs|merge([{
        name: currentCategory.translation.name,
    }]) %}
{% endif %}


{% block page %}
    <div class="page {{ currentCategory ? '_catalog' : '_search' }}">
        {# breadcrumbs #}
        {#{% include('www/layout/breadcrumbs.html.twig') with { 'breadcrumbs': breadcrumbs } only %}#}
        {# / breadcrumbs #}

        {# Catalog #}
        <div class="catalog l-container js-catalog {{ currentCategory ? '' : '_no-filters' }}">
            <div class="catalog__header">
                <div class="catalog__name">

                    {#{{ currentCategory ? currentCategory.translation.name : 'page.search.title'|trans }}#}
                </div>

                <div class="catalog__parameters">
                    <div class="catalog__toggle-filter js-catalog-mobile-filter-toggle">
                        {#{{ 'page.catalog.filters.title'|trans }}#}
                        {#{{ svg_icon('arrow_down') }}#}
                    </div>

                    <div class="catalog__sorting js-catalog-sort-menu">
                        {% include('@frontend/views/catalog/includes/sort_menu.html.twig') %}
                    </div>
                </div>
            </div>

            <div class="catalog__body">

                {# filters #}
                <div class="catalog__filters js-catalog-filter" style="display: block">
                    <div class="catalog__filters-header">
                        {#<span class="h2">{{ 'page.catalog.filters.title'|trans }}</span>#}
                        <span class="catalog__filters-close js-catalog-mobile-filter-toggle">
                            {#{{ svg_icon('close') }}#}
                        </span>
                    </div>
                    <form action="" class="js-catalog-filters js-collapse">
                        {% for filter in filters %}
                            {# @var fitler \App\Entity\Property #}
                            {% set type = filter.filterType %}
                            {% if type == 'list' %}
                                {% include('@frontend/views/catalog/includes/filters/list_filter.html.twig') with { 'filter': filter, 'activeFilters': activeFilters } only %}
                            {% elseif type == 'range' %}
                                {% include('@frontend/views/catalog/includes/filters/price_filter.html.twig') with { 'filter': filter, 'activeFilters': activeFilters } only %}
                            {% endif %}

                            {% if type == 'BOOLEAN' %}
                                {% include('www/catalog/includes/filters/boolean_filter.html.twig') with { 'filter': filter, 'activeFilters': activeFilters } only %}
                            {% elseif type == 'COUNTRY' %}
                                {% include('www/catalog/includes/filters/country_filter.html.twig') with { 'filter': filter, 'activeFilters': activeFilters } only %}
                            {% elseif type == 'SET' %}
                                {% include('www/catalog/includes/filters/set_filter.html.twig') with { 'filter': filter, 'activeFilters': activeFilters } only %}
                            {% elseif type == 'ENUM' %}
                                {% include('www/catalog/includes/filters/enum_filter.html.twig') with { 'filter': filter, 'activeFilters': activeFilters } only %}
                            {% elseif type == 'NUMBER' %}
                                {% include('www/catalog/includes/filters/number_filter.html.twig') with { 'filter': filter, 'activeFilters': activeFilters } only %}
                            {% elseif type == 'PRICE' %}
                                {% include('www/catalog/includes/filters/price_filter.html.twig') with { 'filter': filter, 'activeFilters': activeFilters } only %}
                            {% endif %}
                        {% endfor %}
                    </form>
                </div>
                {# / filters #}

                {# products #}
                <div class="catalog__products">
                    {# list #}
                    <div class="product-list js-catalog-results" data-items-container="" style="position:relative">
                        {% include('@frontend/views/catalog/includes/products.html.twig') %}
                    </div>
                    {# / list #}

                    {# loader #}
                    <div class="loader _overlay js-paginator-loader">
                        {#{{ include('www/layout/includes/loader.html.twig') }}#}
                    </div>
                    {# / loader #}

                    {# more #}
                    {#<div class="more-button js-paginator-more-button {{ nextPageURL is not empty ? 'is-active' }}" data-next-page-url="{{ nextPageURL }}">#}
                        {#{{ 'page.catalog.products.more'|trans }}#}
                    {#</div>#}
                    {# / more #}

                    {# navigation #}
                    {% if products is not empty %}
                    <div class="catalog__page-navigation">
                        {# paginator #}
                        <div class="catalog__paginator js-paginator-navigation">
                            {% include('@frontend/views/layouts/layout/paginator.html.twig') with { 'pageURL': pageURL, 'pageCount': pageCount, 'pageCurrent': pageCurrent } %}
                        </div>
                        {# / paginator #}

                        {# show by #}
                        {#{% set pageSizeVariants = constant('App\\Controller\\WWW\\SearchController::PAGE_SIZE_VARIANTS') %}#}
                        {#{% set pageSizeDefault = constant('App\\Search\\SearchRequest::DEFAULT_PAGE_SIZE') %}#}
                        {#{% set pageSizeActive = pageSize %}#}

                        <div class="catalog__show-by">
                            {#{% include('www/layout/includes/page_size.html.twig') with {#}
                                {#'pageSizeVariants': pageSizeVariants,#}
                                {#'pageSizeDefault': pageSizeDefault,#}
                                {#'pageSizeActive': pageSizeActive,#}
                                {#'pageCount': pageCount,#}
                                {#'pageCurrent': pageCurrent,#}
                                {#'nbResults': nbResults#}
                            {#} %}#}
                        </div>
                        {# / show by #}
                    </div>
                    {% endif %}
                    {# / navigation #}
                </div>
                {# / products #}
            </div>
        </div>
        {# / Catalog #}

    </div>

{% endblock %}
