{#{% trans_default_domain 'www' %}#}

<div class="footer {{ homepage ? '_home' }} js-page-footer">
    <div class="l-container">
        <div class="footer__inner">
            {# Logo #}
            <div class="footer__logo">
                <div class="logo _large">logo
                    {#{{ svg_icon('logo', 'logo__icon') }}#}
                </div>
            </div>

            {# Copyright #}
            <div class="footer__info">
                <p class="footer__description">description
                    {#{{ 'footer.description'|trans|raw }}#}
                </p>
                <p class="footer__support">footer__support
                    {#{{ 'footer.support'|trans }}:<br/>#}
                    <a href="mailto:hello@furniprice.com">hello@furniprice.com</a>
                </p>
                <p class="footer__copyright">
                    © 2017 FurniPrice <br/>
                    {#{{ 'footer.copyright'|trans }}#}
                </p>
            </div>

            {# Navigation #}
            <nav class="footer__menu">
                {#<div class="footer__menu-item">#}
                    {#<a href="{{ path('catalog') }}" class="footer__menu-link">{{ 'menu.catalog'|trans }}</a>#}
                {#</div>#}
                <div class="footer__menu-item">articles
                    {#<a href="{{ path('articles') }}" class="footer__menu-link">{{ 'menu.publications'|trans }}</a>#}
                </div>
                <div class="footer__menu-item">news
                    {#<a href="{{ path('news') }}" class="footer__menu-link">{{ 'menu.news'|trans }}</a>#}
                </div>
                <div class="footer__menu-item">about
                    {#<a href="{{ path('about') }}" class="footer__menu-link">{{ 'menu.about'|trans }}</a>#}
                </div>
                <div class="footer__menu-item">partnership
                    {#<a href="{{ path('partnership') }}" class="footer__menu-link">{{ 'menu.partnership'|trans }}</a>#}
                </div>
            </nav>
        </div>
    </div>
</div>
